<div class="body">

<div class="sidebar" style="">
    <div class=" header">
        <img src="https://staging-pm.zetwerk.com/assets/logo.svg" alt="">
        <img src="https://staging-pm.zetwerk.com/assets/cross.svg" alt="">
    </div>
    <div class="back">
        <img src="https://staging-pm.zetwerk.com/assets/back-arrow.svg" alt="" style="margin-left:20px;">
        <span style="color: #9b9b9b;;margin-left:20px;">{{displayText}}</span>
    </div>
</div>
<router-outlet></router-outlet>
</div>