<div>
    <div class="header box-shadow">
        Packing List
  </div>
  <table>
      <tr>
        <th *ngFor="let column of headers">
          {{column}}
        </th>
      </tr>
      <tr *ngFor="let row of rows" (click)="openCreatePackingList(row._id)" style="height:65px;">
        <td>{{row?.plNumber}}</td>
        <td>{{row.lotName}}</td>
        <td>{{row.totalWeight}}</td>
        <td>{{row.totalQuantity}}</td>
        <td>{{row.dispatchDate | date : 'd MMM y'}}</td>
        <td><span [ngClass]="{
            'verified': row.status == 'VERIFIED',
            'pending': row.status == 'PENDING_VERIFICATION'
    
        }">{{row.status}}</span></td>
        <td class=""><a href="{{row.link}}" download><i class="fa fa-download download-icon"></i></a></td>
      </tr>
    </table>
</div>

