/* You can add global styles to this file, and also import other style files */
.header {
  padding: 15px 20px 15px 20px;
}

.header.box-shadow {
  box-shadow: inset 0 -1px 0 0 #e5e8ec;
}

.draft {
  background: rgb(247, 181, 0);
  border-radius: 2px;
}

.pending {
  background: rgb(146, 114, 148);
  border-radius: 2px;
}

.verified {
  background: rgb(107, 121, 143);
  border-radius: 2px;
}
